@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    @apply antialiased scroll-smooth;
    color-scheme: light;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11", "ss01";
  }

  body {
    overflow-x: hidden;
  }

  p,
  li,
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  td,
  th,
  label,
  blockquote,
  code,
  pre {
    overflow-wrap: anywhere;
    word-break: break-word;
  }

  pre,
  code {
    white-space: pre-wrap;
  }
}

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-300;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
